<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ApiStore</a>

  <div class="collapse navbar-collapse" id="navbarNav">

      <li  class="nav-item">
        <a routerLink="users/contributer" class="nav-link">Contributor space</a>
      </li>

      <li routerLink="active" class="nav-item">
        <a routerLink="users/admin" class="nav-link" href="#">Admin space</a>
      </li>

      <li routerLink="active" class="nav-item">
        <a routerLink="auth/signin" class="nav-link" href="#">Sign in</a>
      </li>

      <li routerLink="active"  class="nav-item">
        <a routerLink="auth/signup" class="nav-link" href="#">Sign up</a>
      </li>
      

      <li>
        <label>hello sir ! </label>
      </li>
  </div>

</nav>


