.contributer
{
  margin-top: -65px;
  padding-top: 10%;
  padding-left: 55%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table
{
  margin-top: -600px ;
  margin-left: -600px;
  width: 350px;

}

th
{
  text-align:center
}
button
{
  padding: 4%;background-color:"lightgreen";
}


div
{
  float: left;
}
